app-accion-documento{
    .titulocondicion{
        font-size: 18px;
        font-weight: bold;
        font-family: Montserrat;
    }

    .card-body{
        .documento-descripcion{
            margin: 35px 10px 0px 10px;

            .ordenAccion{

            }

            .titulocondicion-secundario{                
                font-size: 16px;
                font-weight: bold;
                font-family: Montserrat;
            }

            .leyendadocumento{
                font-size: 16px;
                font-weight: normal;
                font-family: "Work Sans";
                color: #4B4B4B;
                line-height: 22px;
            }


        }
    }
}