app-accion-pago{
    .titulocondicion{
        font-size: 18px;
        font-weight: bold;
        font-family: Montserrat;
    }

    .govco-table-v1{
        thead{
            background-color: #f2f2f2;
            th{
                width: 185px;
                border-bottom: none !important;
                border-top: none !important;
                font-weight: 500;
            }
        }
        tbody{
            tr{                
                background-color: white !important;
                border-bottom: 1px solid #E6EFFD;
                
                td{
                    border-top: none !important;
                    color: #3366CC;
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}