app-accion-solicitud{
    .btn-puntos-atencion{
        
        font-family: "Work Sans" !important;
        font-size: 15px;
        font-weight: 500 !important;
        border: 1px solid #3366CC;
        color: #3366CC !important;
    }
}